body{
    font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
.container{
    display: grid;
    display: flex;
    align-items: center;
 justify-content: space-around;   
}
.cont1{
    font-size: 30px;
}
.cont2{
    display: grid;
    grid-template-columns: auto auto auto auto  auto auto auto;
    column-gap: 30px;
   font-size: 0.9em;
    padding:10px;
}
.cont2 a{
    color: black;
}
.p0{
    font-weight: 700;
}
.p1{
   padding: 10px;
}
.p1:hover{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.p2{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.p3{
    padding: 10px;
}
.p4{
    padding: 10px;
}
.p5{
    padding: 10px;
}
.p6{
    padding: 10px;
    
}
.p7{
    padding: 10px;
  
}
.p2:hover{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.p3:hover{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.p4:hover{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.p5:hover{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.p6:hover{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.p7:hover{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.cont3{
    background-color:  #ffc446;
    color: white;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}
a{
    text-decoration: none;
}
.img1{
    background-image: url("./img/body.webp");
    background-size: cover;
    width: 100%;
    height: 200px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.a5{
    color: white;
}
.About{
    font-size: 35px;
    margin-bottom: 0;
}
.container10{
    padding-top: 100px;
    display: flex;
  
    width: 90%;
    margin: auto;

}
.pages{
    padding-right: 20px;
}
.pages1{
   color: #ffc446;
   font-weight: 600;
}
.pages2{
    font-size: 30px;
    
}
.pages3{
    padding-bottom: 20px;
}
.pages4{
    color: white;
 padding: 15px 30px;
    background: #052336;
    
}
.container4{
    background-color: white;
    padding: 20px;
  width: 90%;
  margin: auto;
  height:560px;
  display: flex;
  position: relative;
  top: 100px;
  }
  .con4{
      display: grid;
      display: flex;
      gap: 20px;
  }
  .img3{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
  .con5{
      
      margin: auto;
  height: 90%;
  }
  .i3{
    background-color: #ffc446;
    color: white;
    margin: 5px;
    margin-right: 15px;
    
}
#d11{
    font-weight: 600;
    color: #ffc446;
font-size: 20px;
letter-spacing: 5px;
}
#d22{
    font-size: 35px;
}
#d33{
    line-height: 25px;
}
#a2{
    color: white;
    padding: 15px 30px;
    background: #1b2839;
}
.body-cont4{
    background: #f6f6f9;
    height: 500px;
}
.container5{
    background: #1b2839;
    display: flex;
    height: 300px;
    padding-top: 100px;
}
.con6{
    padding: 50px;

    width: 80%;
    display: flex;
    margin: auto;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
}
#p111{
    font-size: 50px;
    margin: 10px;
    color: white;
}
#p222{
    color: #888888;
}
 
.container11{
    text-align: center;
    padding-top: 70px;
}
.hr3{
    width: 70px;
}
.pd{
    color: #ffc446;
    font-weight: 600;
    font-size: 20px;
}
.pdd{
    font-size: 30px;
}
.container12{
    padding-top: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.pp22{
    color: #ffc446;
text-align: center;
}
.p2p2{
    text-align: center;
    
}



.obsh8{
    display: grid;
    grid-template-columns: 450px 320px 300px auto;
    line-height: 30px;
    background-color: #1b2839;;
}
.obsh8 h2{
    color: orange;
}
.obsh8{
    padding-left: 30px;
    margin-top: -9px;
    color: white;
    padding-top: 100px;
    padding-bottom: 30px;
   
}
.obsh8 h1{
    padding-bottom: 30px;
}
.obsh10{ 
    padding-top: 20px;
    border-top: 1px solid white;
    height: 70px;
    background-color: #1b2839;
    font-size: 25px;
    color: white;
    padding-left: 40px;
}
.obsh81{
    margin-top: -40px;
    margin-left: 100px;
}
.obsh10 span{
    color: orange;
}

.obsh84 p{
    width: 110%;
}