*{
    margin: 0;
}
.ph1{
    display: flex;
    justify-content: center;

}
.ph1 img{
    width: 100%;
    height: 255px;
}
#security{
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    display: block;
    color: #ffc446;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.ph{
    color: #070a37;
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 3px;
    border: 2px solid transparent;
    width:37%;
    margin-left: 20px;
}
#june{
    list-style: none;
    font-size: 13px;
    color: #888;
    display: inline-block;
    margin-right: 25px;
    position: relative;
}
.ph2{
    display: flex;
    justify-content: center;
    

}
.p1:hover{
    border: 3px solid #ffc446;
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
}
.ph2 img{
    width: 100%;
    height: 255px;
}

.ph3{
    display: flex;
    color: #070a37;
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 3px;
    border: 2px solid transparent;
    width:37%;
    margin-left: 20px;
}